/terceiroSemestre/PI/GUIFormExamples/nbproject/private/
/terceiroSemestre/PI/AnagramGame/nbproject/private/
/terceiroSemestre/PI/AnagramGame/build/
/terceiroSemestre/PI/CadastroUsuario/nbproject/private/
/terceiroSemestre/PI/CadastroUsuario/build/
/terceiroSemestre/POO/CadastroMedicoPaciente/nbproject/private/
/terceiroSemestre/POO/CadastroMedicoPaciente/build/
/terceiroSemestre/POO/GerenciadorDeCompra/nbproject/private/
/terceiroSemestre/EstruturaDeDados/GerenciadorDeCompra/nbproject/private/
/terceiroSemestre/EstruturaDeDados/GerenciadorDeCompra/build/
/terceiroSemestre/EstruturaDeDados/MatrizBidimensional/nbproject/private/
/terceiroSemestre/EstruturaDeDados/Compras/nbproject/private/
/terceiroSemestre/EstruturaDeDados/Compras/build/
/terceiroSemestre/EstruturaDeDados/ArrayDeSimplesPrecisao/nbproject/private/
/terceiroSemestre/EstruturaDeDados/ArrayDeSimplesPrecisao/build/
/terceiroSemestre/EstruturaDeDados/GerenciadorContaBancariaContaEspecial/nbproject/private/