/JavaFXApp2PI/nbproject/private/
/CalculadoraJavaFXPI/nbproject/private/
/calculadoraJavaFX/nbproject/private/
/JavaFXApp2PI/build/
/JavaFXApp2PI/dist/
/JavaFXApplication2/nbproject/private/
/JavaFXApplication2/build/
/JavaFXApplication2/dist/
/CalculadoraJavaFX/nbproject/private/
/JavaFXApplication5/nbproject/private/
/JavaFXApplication5/build/
/JavaFXApplication5/dist/
/JavaFXApp2/nbproject/private/
/JavaFXApp2/build/
/JavaFXApp2/dist/
/Agenda/nbproject/private/
/Calculadora/nbproject/private/
/Calculadora/build/
/Calculadora/dist/
/Agenda/build/
/Agenda/dist/