/* .felipe {
  -fx-opacity: 0;
}

.teste {
  -fx-opacity: 0;
} */

/* .fedido {
  -fx-opacity: 0;
} */

.menu {
  -fx-background-color: #e6e6e6;
}

.btn {
  -fx-cursor: hand;
}

.btnLimpar {
  -fx-border-color: #6a717c;
  -fx-border-radius: 3px;
  -fx-background-color: #fff;
  -fx-text-fill: #6a717c;
}

.btnSalvar {
  -fx-border-color: #26cd64;
  -fx-border-radius: 3px;
  -fx-background-color: #fff;
  -fx-text-fill: #26cd64;
}

.btnAlugueis {
  -fx-border-color: #fff;
  -fx-border-radius: 3px;
  -fx-background-color: #2054c4;
  -fx-text-fill: #fff;
}