<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>

<body>

	<div th:fragments="footer">
		<footer class="section" style="padding: 20px; min-height: 200px; max-height: 200px">

			<!--Content -->
			<div class="container footer-content">
				<div class="row align-self-center d-flex justify-content-between">
					<div class="col-md-auto pb-2 ">

						<div>
							<!-- Brand -->
							<h5 id="logo">Little hand</h5>
						</div>

					</div>
					<div>
						<p class="text-right text-muted" id="text-acompanhe">Acompanhe-nos</p>
					</div>

				</div>
				<!-- / .row -->
				<div class="row align-items-center">
					<div class="col-md">

						<!-- Copyright -->
						<p class="text-white text-muted">
							<small> &copy; Copyright <span class="current-year"></span> Little hand. All rights
								reserved.
							</small>
						</p>

					</div>
					<div class="col-md">
						<!-- Social links -->
						<ul class="list-inline list-unstyled text-md-right">
							<li class="list-inline-item"><i class="fa fa-facebook"></i></li>
							<li class="list-inline-item ml-3"><i class="fa fa-twitter"></i></li>
							<li class="list-inline-item ml-3"><i class="fa fa-instagram"></i></li>
						</ul>

					</div>
				</div>
				<!-- / .row -->
			</div>
			<!-- / .container -->

		</footer>
	</div>

</body>
</html>